{% extends 'base.html' %}

{% block head %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block content %}

<!-- Gene Selection Form -->
<div class="container-fluid d-flex justify-content-left mb-4">
    <form method="POST" action="">
        <!-- ADD THIS TAG IN HTML FORMS WITH POST REQUESTS -->
        {% csrf_token %}
        
        <div class="form-group">
            <label for="genename">Enter gene symbol name:</label>
            <input name="genename" type="text" class="form-control my-2" placeholder="APP" style="width: 400px;" value="{{ request.POST.genename }}">
        </div>
        
        <button type="submit" class="btn btn-primary mt-2">Search gene</button>

        {% if error_message %}
            <div class="alert alert-danger mt-3">{{ error_message }}</div>
        {% endif %}
    </form>
</div>

<!-- Results Section -->
{% if show_results %}
<hr class="mb-4">

<table class="table" style="width: 30%">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">Gene name</td>
      <td class="text-dark">{{gene.geneName}}</td>
    </tr>
    <tr>
      <td scope="row">Number of total transcripts</td>
      <td>{{gene.totalNum}}</td>
    </tr>
    <tr>
      <td>Number of novel transcripts</td>
      <td>{{gene.novelNum}}</td>
    </tr>
  </tbody>
</table>
<br>
<h4> Gene expression </h4>
<div class="container-fluid d-flex justify-content-left">
  <div id="gene-plot"></div>
</div>
{% endif %}

{% if show_results %}
<script>
    // Render plot from JSON data
    {% if plot %}
        var plotData = JSON.parse('{{ plot|escapejs }}');
        Plotly.newPlot('gene-plot', plotData.data, plotData.layout, {responsive: true});
    {% endif %}
</script>
{% endif %}

{% endblock  %}
